body {
  font-family: sans-serif;
  margin: 20px;
}

.form-container {
  border: 1px solid black;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid black;
}

.table-header-group {
  display: flex;
  border-bottom: 1px solid black;
}

.table-header {
  flex: 1;
  text-align: center;
  padding: 5px;
}

.table-header.vergi-sol {
  border-right: 1px solid black;
}

.table-row {
  display: flex;
  border-bottom: 1px solid black;
}

.table-row.table-labels {
  border-bottom: 1px solid black;
}

.table-body .table-row:last-child {
  border-bottom: none;
}

.table-cell {
  border-right: 1px solid black;
  padding: 0px; /* Input'ların padding'ini 0 yapıyoruz */
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-cell:last-child {
  border-right: none;
}

/* Sütun genişlikleri toplamı %100'e ayarlandı */
.table-row > .table-cell:nth-child(1),
.table-row > .table-cell:nth-child(6) {
  flex: 0 0 5%;
}

.table-row > .table-cell:nth-child(2),
.table-row > .table-cell:nth-child(7) {
  flex: 0 0 10%;
}

.table-row > .table-cell:nth-child(3),
.table-row > .table-cell:nth-child(8) {
  flex: 0 0 10%;
}

.table-row > .table-cell:nth-child(4),
.table-row > .table-cell:nth-child(9) {
  flex: 0 0 15%;
}

.table-row > .table-cell:nth-child(5),
.table-row > .table-cell:nth-child(10) {
  flex: 0 0 10%;
}

/* Toplam satırı düzenlemesi */
.table-footer {
  display: flex;
  border-top: 1px solid black;
}

.table-footer .table-cell:nth-child(1) {
  flex: 0 0 40%;
  justify-content: flex-end;
  padding-right: 10px;
  border-right: 1px solid black;
}

.table-footer .table-cell:nth-child(2) {
  flex: 0 0 10%;
  border-right: 1px solid black;
}

.table-footer .table-cell:nth-child(3) {
  flex: 0 0 40%;
  justify-content: flex-end;
  padding-right: 10px;
  border-right: 1px solid black;
}

.table-footer .table-cell:nth-child(4) {
  flex: 0 0 10%;
}

/* Input alanları için stil */
.table-cell input {
  width: 100%;
  height: 100%; /* Hücre yüksekliğini kaplasın */
  border: none;
  padding: 5px; /* Input'lara biraz padding ekledik */
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  background-color: transparent;
  font-family: sans-serif; /* Fontu hücre ile aynı yapıyoruz */
  font-size: inherit; /* Font boyutunu hücreden miras alsın */
}

.table-cell input:focus {
  outline: none; /* Odaklandığında çerçeveyi kaldırıyoruz */
}

/* Yeni eklenen Kaydet butonu için stiller */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.save-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50; /* Yeşil */
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #45a049;
}
